.section {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section > h1 {
  font-size: clamp(3rem, 5vw, 6rem);
  margin-bottom: 3rem;
}

.section > main {
  width: min(900px, 100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  gap: 2rem;
}

.section > main > div {
  padding: 2rem;
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--secondary-background-color);
  border-radius: 1rem;
}

.section > main > div h2 {
  margin-bottom: 1.5rem;
  margin-left: 0;
}

.section > main > div p {
  margin-bottom: 3rem;
}

.section > main > div a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 100px;
  border: 1px solid #fffd00;
  background-color: transparent;
  font-size: 1.3rem;
}

.section > main > div:nth-child(2) a {
  color: black;
  background-color: #fffd00 !important;
  opacity: 0.9;
}

@media screen and (max-width: 500px) {
  .section > main > div {
    width: 100%;
  }
}
