.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap);
}

.main {
  margin-top: 10rem;
  max-width: 800px;
}

.icon {
  font-size: var(--font-size-sm);
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article {
  background-color: var(--secondary-background-color);
  padding: 2rem;
  margin-bottom: var(--gap);
}

.article_image > img {
  margin-bottom: var(--gap);
}

.article > img {
  margin-block: var(--gap);
}

.article_title {
  font-size: clamp(3rem, 5vw, 6rem);
  color: var(--light-color);
}

.article_tags {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.article_tags *:hover {
  color: var(--light-color);
}

.article_data {
  display: flex;
  justify-content: space-between;
  height: 100px;
  margin-bottom: var(--gap);
}

.article_author {
  display: flex;
  align-items: center;
  position: relative;
}

.article_info {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.article_body * {
  background-color: inherit !important;
  color: inherit !important;
}

.article_views {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: small;
  margin-top: var(--gap);
}

.spacer {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--light-color-alt);
  transform: rotate(45deg);
}

.mobile_ad {
  background-color: var(--secondary-background-color);
  height: 300px;
  margin-bottom: var(--gap);
  padding: 2rem;
  display: none;
}

.comments {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--secondary-background-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100vh;
  width: 400px;
  overflow-y: auto;
  z-index: 1000;
  transform: translateX(400px);
  transition: transform 0.3s ease-in-out;
}

.comments_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: inherit;
  padding-top: 2rem;
  padding-bottom: 1rem;
  z-index: 10;
}

.comments_header h2 {
  margin-left: var(--gap);
}

.comments_header button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  font-size: 3rem;
  border-radius: 50%;
}

.comments_header button:hover {
  background-color: var(--transparent-dark-color);
}

.comments_input,
.reply_input {
  display: flex;
}

.comments_input > textarea,
.reply_input > textarea {
  width: 100%;
  padding: 10px;
  resize: vertical;
  outline: none;
  font-family: inherit;
  color: var(--light-color);
  background-color: var(--primary-background-color);
}

.comments_input > button,
.reply_input > button {
  padding: 10px;
  cursor: pointer;
  background-color: var(--primary-background-color);
}

.comments::-webkit-scrollbar {
  width: 5px;
}

.comment {
  padding-inline: var(--gap);
  border-bottom: 1px solid #333;
}

.comment_parent {
   margin-block: 1rem; 
   padding-inline: var(--gap); 
}

.replies {
  display: flex;
  flex-direction: column;
}

.reply {
  /* background-color: var(--transparent-dark-color); */
  padding-block: 1rem;
  /* padding-inline: var(--gap); */
  padding-left: 3rem;
}

/* .reply_input {
  display: none;
} */

.btn_container {
  display: flex;
  /* gap: 1rem; */
  /* border: 1px solid black; */
}

.controls {
  width: 300px;
  border-radius: 100px;
  height: 40px;
  padding: 1rem 2rem;
  margin-inline: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-background-color);
  position: sticky;
  bottom: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.controls button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.user_articles {
  background-color: var(--secondary-background-color);
  height: 500px;
  padding: 2rem;
}

.user_articles_profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_link {
  margin-inline: 1rem;
  text-decoration: underline;
}

.articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--font-size-lg);
  margin-top: var(--gap);
}

.desktop_ad {
  margin-top: 10rem;
  width: 400px;
  height: 500px;
  background-color: var(--secondary-background-color);
  padding: 1rem;
  position: sticky;
  top: 10rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 10px; */
  cursor: pointer;
  padding: 1.5rem;
  border-radius: 50%;
  gap: 10px;
}

.comment_btn {
  padding: 1rem 1.5rem;
  border-radius: 100px !important;
}

.btn:hover {
  background-color: var(--transparent-dark-color);
}

.btn_load_more {
  width: 150px;
  cursor: pointer;
  padding: 1rem 1.5rem;
  margin-top: 2rem;
  border-radius: 100px;
  margin-inline: auto;
}

.btn_load_more:hover {
  background-color: var(--primary-background-color);
}

@media screen and (max-width: 1100px) {
  .main {
    max-width: 600px;
  }
}

@media screen and (max-width: 900px) {
  .main {
    max-width: 500px;
  }
  .article_data {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: var(--gap);
  }
}

@media screen and (max-width: 768px) {
  .main {
    max-width: 100%;
  }
  .comments {
    top: 20vh;
    height: 80vh;
    width: 100vw;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    transform: translateY(80vh);
  }
  .desktop_ad {
    display: none;
  }
  .mobile_ad {
    display: block;
  }
}
